/* ///// t y p o g r a p h y + STYLE ///// */

A:link {text-decoration:none; color:#ffffff;}
A:visited {text-decoration:none; color:#ffffff;}
A:hover {text-decoration:none; color:#ffffff;}

html, body {
    margin: 0;
    padding: 0;
}

body {

		background-attachment: fixed;
    background-color: #000;
		background-size: cover;
}

li {
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
  color: #fff;
}

p, a {
	font-family: 'Open Sans', sans-serif;
  text-align: justify;
  color: #f0f0f0;

}

hr {
  color: #fff;
  width: 30%;
}

h1 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 4em;
  color: #fff;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.5em;
  color: #fff;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
  text-align: center;
  color: #fff;
}

button {
  font-family: 'Open Sans', sans-serif;
  padding: 10 20 10 20;
	background-color:#3f3f3f;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor: pointer;
	color:#ffffff;
	text-decoration:none;

}

button:hover {
	background-color:#b8c2b3;
}

.content {
  background-color:000;
  width:60%;
}

.wrapper{
  width: 60%;
  margin: 0 auto;
}
.header {
  display: block;
  text-align:center;
  margin: 0 auto;
  padding-top: 0 !important;
}

.transparent {
	background: rgba(100%, 100%, 100%, 0.7);
}

.inner {
	background-color:#c0c0c0;
}

.imgctr {
  margin: 0 auto;
}

.img-responsive {
  max-width: 200px;
  max-height: 200px;
display:block;
height: auto;
}

.circle {
  border: 2px solid #aaa;
  box-shadow: 0 0 0 3px hsl(0, 0%, 90%);
}

.circle:hover {
  opacity: 0.5;
}





/*  SECTIONS  */
.full {
	clear: both;
	padding: 30px 30px 30px 30px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
